html,body{
    height: 100%;
}


.basis {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.frog {
    width: 100px;
    height: 100px;
    background: green;
}

.frog1 {
    background: yellow;
}

.frog2 {
    background: crimson;
}