.basis {
    display: flex;
    justify-content: space-between;
}

.frog {
    width: 100px;
    height: 100px;
    background: green;
}

.frog1 {
    background: yellow;
}

.frog2 {
    background: crimson;
}