.basis{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.frog{
    width: 100px;
    height: 100px;
    background: green;
}
.frog1{
    background: yellow;
}
.frog2{
    background: crimson;
}