.basis {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.frog {
    width: 100px;
    height: 100px;
    background: green;
}

.frog1 {
    background: yellow;
}

.frog2 {
    background: crimson;
}